# The following placeholder will be replaced by gulp
#
# PACKAGE_PATH ... The path to the package, where this file is located
# PACKAGE_NAME ... The name of the package, eg Vendor.Site
# PROJECT_ROOT ... The Neos root path, also know as FLOW_PATH_ROOT

Webandco:
  Gulp:
    config:
      paths:
        dist:
          styles: 'PACKAGE_PATH/Resources/Public/dist'
          scripts: 'PACKAGE_PATH/Resources/Public/dist'

      project:
        styles:
          fusion:
            dependencies:
              - 'PACKAGE_PATH/Resources/Public/scss/fusion-dependencies.scss'
            sources:
              - 'PACKAGE_PATH/Resources/Private/Fusion/**/*.scss'
            watch:
              - 'PACKAGE_PATH/Resources/Private/Fusion/**/*.scss'

          bundled:
            filename: 'webandco.min.css'
            sources:
              - 'PACKAGE_PATH/Resources/Public/scss/webandco.scss'
            includePaths:
              - 'PACKAGE_PATH/Resources/Public/scss/'
            watch:
              - 'PACKAGE_PATH/Resources/Public/scss/**/*.scss'

          lint:
            - 'PACKAGE_PATH/Resources/Private/Fusion/**/*.scss'
            - 'PACKAGE_PATH/Resources/Public/scss/**/*.scss'

          options:
            sourceMaps: false
            stripCssComments:
              preserve: false

        scripts:
          fusion:
            sources:
              - 'PACKAGE_PATH/Resources/Private/Fusion/**/*.js'
            watch:
              - 'PACKAGE_PATH/Resources/Private/Fusion/**/*.js'

          bundled:
            filename: 'webandco.min.js'
            sources:
              - 'PACKAGE_PATH/Resources/Public/js/utils.js'
              - 'PACKAGE_PATH/Resources/Public/js/base.js'
            watch:
              - 'PACKAGE_PATH/Resources/Public/js/**/*.js'

          serviceWorker:
            source: 'PACKAGE_PATH/Resources/Public/js/service-worker.js'
            distPath: 'PROJECT_ROOT/Web'
            distName: 'service-worker.js'

          lint:
            sources:
              - 'PACKAGE_PATH/Resources/Public/js/**/*.js'
              - 'PACKAGE_PATH/Resources/Private/**/*.js'
            globalVars:
              - 'add'

          options:
            minify: true
            polyfills: true
            sourceMaps: true

        copyFiles:
          - source: 'PROJECT_ROOT/node_modules/font-awesome/fonts/*'
            dest: 'PACKAGE_PATH/Resources/Public/font'

      favicon:
        dataFile: 'PACKAGE_PATH/Resources/Private/Json/faviconData.json'
        dest: 'PACKAGE_PATH/Resources/Public/Images/favicons'
        masterPicture: 'PACKAGE_PATH/Resources/Private/Images/favicon-master.png'
        webmanifest:
          name: 'PACKAGE_NAME'
          shortName: 'PACKAGE_NAME'
          description: 'Lorem ipsum'
          lang: 'en'
          startUrl: '/'
          scope: '/'
          orientation: 'portrait'
          display: 'standalone'
        color:
          background: '#000000'
          theme: '#000000'
        templateFile: 'PACKAGE_PATH/Resources/Private/Templates/Page/Favicon.html'
        replace:
          browserconfigPath: '/_Resources/Static/Packages/PACKAGE_NAME/Images/favicons'
          templatePath: 'Images/favicons'
          # set prefix code, eg for view helpers
          #          templatePrefix: "{namespace webco=Webco\\Gos001\\NodeTypes\\ViewHelpers}\n\n"
          #          templateHrefPattern: "{webco:uri.static(path: 'FAVICON_URL', package: 'PACKAGE_NAME')}"
          templateHrefPattern: "{f:uri.resource(path: 'FAVICON_URL', package: 'PACKAGE_NAME')}"

      server:
        browserSync:
          proxy: 'neos.localbeach.net'
          port: 3000
          reload:
            - 'PACKAGE_PATH/Resources/Private/Fusion/**/*.fusion'
            - 'PACKAGE_PATH/Resources/Private/Templates/**/*.html'
