Webandco:
    Gulp:
        config:
          paths:
            build:
              styles: 'THEME_PATH/Resources/Public/build'
            dist:
              styles: 'THEME_PATH/Resources/Public/dist'
              scripts: 'THEME_PATH/Resources/Public/dist'
            source:
              sass:
                - 'THEME_PATH/Resources/Public/scss/theme.scss'
                - 'THEME_PATH/Resources/Private/Fusion/Component/**/*.scss'
            watch:
              sass:
                - 'THEME_PATH/Resources/Public/scss/**/*.scss'
                - 'THEME_PATH/Resources/Private/Fusion/Component/**/*.scss'
          project:
            css:
              # remove all comments, @see https://github.com/sindresorhus/strip-css-comments#options
              stripCssComments:
                preserve: false
            lint:
              scss:
                - 'THEME_PATH/**/*.scss'
            hint:
              js:
                - 'THEME_PATH/Resources/Public/js/*.js'
            cssFiles:
              - 'THEME_PATH/Resources/Public/build/webandco.css'
            scriptFiles:
              - 'THEME_PATH/Resources/Public/js/base.js'
            copyFiles:
              - source: './node_modules/font-awesome/fonts/*'
                dest: 'THEME_PATH/Resources/Public/font'
          favicon:
            dataFile: 'THEME_PATH/Resources/Private/Json/faviconData.json'
            dest: 'THEME_PATH/Resources/Public/Images/favicons'
            masterPicture: 'THEME_PATH/Resources/Private/Images/favicon-master.png'
            manifestName: 'THEME_NAME'
            color:
              background: '#ffffff'
              theme: '#e40d17'
            templateFile: 'THEME_PATH/Resources/Private/Templates/Page/Favicon.html'

          server:
            browserSync:
              # set the proxy to the local neos url
              proxy: 'docker.vm'
              port: 3000
              reload:
                - 'THEME_PATH/Resources/Private/Fusion/Component/**/*.fusion'
